.transfer-form {
  &__control {
    padding: 12px 10px;
    display: flex;
    flex-flow: column;

    label {
      margin-bottom: 10px;
    }
  }

  &__action {
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
  }

  .btn-disabled {
    ::ng-deep {
      [data-test-hook="submitButton"] {
        pointer-events: none;
        opacity: 0.4;
      }
    }
  }
}
