.btn {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.btn-primary {
  background-color: $primary-orange;
  color: $primary-white;
}

.btn-secondary {
  border: 1px solid;
}
