.transaction-list {
  display: block;
  height: 100%;
  padding: 0 10px;
  max-height: 60vh;
  overflow-y: auto;

  &__item {
    border-bottom: 1px solid #bfc4c4;
    overflow: auto;
    height: 10rem;
    padding: 14px 0;

    .credit {
      color: green;
    }

    .debit {
      color: red;
    }

    ::ng-deep {
      [data-test-hook="transactionColour"] {
        float: left;
        height: 100%;
        width: 6px;
        background-color: black;
        margin-right: 10px;
      }

      [data-test-hook="transactionDate"] {
        float: left;
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 40px;
        font-size: 1.5rem;
      }

      [data-test-hook="transactionAmount"] {
        float: right;
        clear: right;
        height: 100%;
        display: flex;
        align-items: center;
      }

      [data-test-hook="transactionMerchantName"] {
        font-size: 1.7rem;
      }

      [data-test-hook="transactionType"] {
        color: gray;
        font-size: 1.5rem;
      }

      .merchant-details {
        float: left;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
      }
    }
  }
}

.filter {
  margin-bottom: 10px;

  ::ng-deep {
    .input-group {
      display: flex;
      padding: 0 10px;
    }

    .input-group-prepend {
      border: 1px solid #bfc4c4;
      border-right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      border-top-left-radius: 5px 5px;
      border-bottom-left-radius: 5px 5px;
      background-color: #f4f5f5;
    }

    .input-group-text {
      color: gray;
    }

    .form-control {
      width: 40%;
      padding: 10px 8px;
      border: 1px solid #bfc4c4;
      border-radius: 5px;
      border-top-left-radius: 0 0;
      border-bottom-left-radius: 0 0;
    }
  }
}
