@import "variables";

.transaction-list {
  display: block;
  height: 100%;
  padding: 0 1rem;
  max-height: 60vh;
  overflow-y: auto;

  &__item {
    border-bottom: 1px solid rgba($border-gray-color, 0.4);
    overflow: auto;
    height: 10rem;
    padding: 1.4rem 0;

    .credit {
      color: $primary-green;
    }
    .debit {
      color: $primary-red;
    }

    ::ng-deep {
      [data-test-hook="transactionColour"] {
        float: left;
        height: 100%;
        width: 0.6rem;
        background-color: $primary-black-color;
        margin-right: 1rem;
      }

      [data-test-hook="transactionDate"] {
        float: left;
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 4rem;
        font-size: 1.5rem;
      }

      [data-test-hook="transactionAmount"] {
        float: right;
        clear: right;
        height: 100%;
        display: flex;
        align-items: center;
      }

      [data-test-hook="transactionMerchantName"] {
        font-size: 1.7rem;
      }

      [data-test-hook="transactionType"] {
        color: $primary-gray-color;
        font-size: 1.5rem;
      }

      .merchant-details {
        float: left;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
      }
    }
  }
}

.filter {
  margin-bottom: 1rem;

  ::ng-deep {
    .input-group {
      display: flex;
      padding: 0 1rem;
    }

    .input-group-prepend {
      border: 1px solid $border-gray-color;
      border-right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      border-top-left-radius: 0.5rem 0.5rem;
      border-bottom-left-radius: 0.5rem 0.5rem;
      background-color: $secondary-gray-color;
    }

    .input-group-text {
      color: $primary-gray-color;
    }

    .form-control {
      width: 40%;
      padding: 1rem 0.8rem;
      border: 1px solid $border-gray-color;
      border-radius: 0.5rem;
      border-top-left-radius: 0 0;
      border-bottom-left-radius: 0 0;

      &::-webkit-input-placeholder {
        font-style: italic;
        font-size: 1.4rem;
      }
    }
  }
}
