@import "main";

.card {
  height: 100%;

  &__header {
    padding: 20px 15px;
    background-color: $primary-blue-color;
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
    color: white;
    display: flex;
    align-items: center;
  }

  &__content {
    padding: 10px 8px;
    background-color: white;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    max-height: 70vh;
    overflow-y: auto;
  }
}
