@import "main";

.header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px $primary-gray-color;
  height: 100%;
  position: relative;
  z-index: 9999;

  &__title {
    color: $primary-blue-color;
  }
}

@media (max-width: 540px) {
  .header {
    justify-content: center;

    &__title {
      display: none;
    }
  }
}
