:host {
  display: flex;
}

input {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #bfc4c4;
  border-radius: 5px;
  border-top-left-radius: 0 0;
  border-bottom-left-radius: 0 0;

  &.ui-disabled {
    background-color: #eaebec;
  }

  &.invalid {
    border: 1px solid red;
  }

  &::-webkit-input-placeholder {
    font-style: italic;
    font-size: 1.4rem;
  }
}

.currency {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bfc4c4;
  background-color: #f4f5f5;
  border-right: 0;
  width: 50px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  color: #1a2d37;
  font-size: 1.4rem;
}
