@import "variables";

:host {
  display: flex;
}

input {
  width: 100%;
  padding: 1rem 1rem;
  border: 1px solid $border-gray-color;
  border-radius: 0.5rem;
  border-top-left-radius: 0 0;
  border-bottom-left-radius: 0 0;

  &.ui-disabled {
    background-color: $disabled-gray-color;
  }

  &.invalid {
    border: 1px solid $primary-red;
  }

  &::-webkit-input-placeholder {
    font-style: italic;
    font-size: 1.4rem;
  }
}

.currency {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $border-gray-color;
  background-color: $secondary-gray-color;
  border-right: 0;
  width: 5rem;
  border-top-left-radius: 0.5rem 0.5rem;
  border-bottom-left-radius: 0.5rem 0.5rem;
  color: $primary-dark-color;
  font-size: 1.4rem;
}
