// Colours
$primary-blue-color: #00a1e0;

$primary-gray-color: #889696;
$secondary-gray-color: #f4f5f5;
$border-gray-color: #bfc4c4;
$disabled-gray-color: #eaebec;

$primary-white: #ffffff;
$primary-red: #f52f57;
$primary-green: #12a580;
$primary-orange: darken(#ff6b35, 0.4);

$primary-black-color: #333333;

$primary-dark-color: #1a2d37;
