.transfer-money {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 3rem;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  max-width: 120rem;
}

@media (max-width: 1028px) {
  .transfer-money {
    grid-template-columns: 80%;
    width: 100%;
    padding: 0 10%;
  }
}
